.Error-body {
    background-image: url("https://freefrontend.com/assets/img/html-funny-404-pages/HTML-Yeti-404-Page.gif");
    background-repeat: no-repeat;
    margin-top: 0.5%;
    background-position: center;
    background-size: cover;
    padding: 25rem 0;
}