.img-hero{
    width: 95%;
    margin: 50px 20px;
    transition: transform 0.3s ease-in-out;

}
.img-heros {
    display: flex;
    justify-content: center;
    position: relative;
   
  }
  
  .img-heros div {
    display: flex;
    animation: rotateImages 35s linear infinite; /* Adjust the animation duration as needed */
  }
/*   
  .img-hero {
    width: 90%;
    margin: 50px 10px;
   
  }
   */
  .img-hero:hover {
    transform: scale(1.05); /* Adjust the scaling factor on hover as desired */
  }
  
  @keyframes rotateImages {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-470%);
    }
  }
  
.home{
    padding-top: 5%;
    padding-bottom:2%;
   
    
}
.buynow-btn{
    margin-top: -10%;
    margin-left: 25%;
   
}

.buynow-btn button{
    background-color:#879992;
    color: white;
    font-size: 14px;
    padding: 13px 33px;
    border-radius: 25px;
    margin-left: 9px;
}

.buynow-btn button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.Main-banner-content{
    position: absolute;
    margin-left: 14%;
    font-size: 20px; 
    column-count: 3;
    gap: 310px;
    color: black;
    margin-top: 3%;
}

.banner-img{
    width: 25%;
    margin-left: 6.5%;
    margin-top: -2%;
    opacity: 1;
  transition: 0.3s;
  margin-bottom: -5%;

}

.Main-banner img:hover{
    opacity: 0.6;
}



.Main-banner-content .button-home{
    background-color: #879992;
    color: white;
    font-size: 14px;
    padding: 13px 33px;
    border-radius: 25px;
    margin-left: 9px;
}

.services{
    margin-top: -10px;
    margin-bottom: 3%;
    margin-left: 25%;
    margin-right: 25%;
border-style: none none solid none;
}
.icon-ship{
    margin-left: 25%;
    font-size: 280%;
}
.shipping-text{
    font-size: 100%;
    margin-top: -5.4%;
    margin-left: 42%;
    margin-bottom: 8%;
    font-weight: bold;
}

@media (max-width: 768px) {
    .img-hero {
        width: 90%;
        margin: 50px 10px;
    }

    .buynow-btn {
        margin-left: 10%;
    }

    .Main-banner-content {
        margin-left: 10%;
        column-count: 1;
        gap: 20px;
        text-align: center;
    }

    .banner-img {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .icon-ship {
        margin-left: 0;
        text-align: center;
        font-size: 200%;
    }

    .shipping-text {
        text-align: center;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
}







