.loginm-container{
  margin-bottom: -23vw;
}

.split{
    
  width: 110%;
  height: 87vh;
  margin-left: 18rem;

}
.heading {

    margin-left: 43vw;
    margin-top: 2%;
}
.lg_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    margin-top: -20.5vw;
    margin-left: 40vw;;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .lg_form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
  }
  
  .lg_form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .lg_form button:hover {
    background-color: #0056b3;
  }

  .create{
    margin-top: 10px;
    margin-left: 580px;
  }

  @media (max-width: 768px) {
    .split {
        margin-left: 0;
        width: 100%;
    }

    .heading {
        margin-left: 0;
        text-align: center;
    }

    .lg_form {
        width: 80%;
        margin: 0 auto;
    }

    .create {
        margin-left: 0;
        text-align: center;
    }
}

