.image-detail {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 1rem;
  margin-left: 5%;
}

.image-detail .grid {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  /* order: 2; */
}

.box-image-style {
  max-width: 50%;
  max-height: 100%;
  background-size: cover;
  object-fit: contain;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.main-screen {
  display: grid;
  place-items: center;
  order: 1;
}

.main-screen img {
  max-width: 145%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.grid-four-column {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.product_images {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .image-detail {
    grid-template-columns: 1fr; 
  }

  .box-image-style {
    max-width: 100%; 
  }

  .grid-four-column {
    grid-template-columns: repeat(2, 1fr); 
  }
}