.buttons-products {
    display: flex;
    margin-top: 2%;
    gap: 15px;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-left: 145px;
    margin-top: 11vh;
    margin-bottom: -10%;
}

.product-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 63.4%;
    height: 335px;
    margin-bottom: 70px;
}

.product-img {
    width: 40vh;
    height: 27vh;
   
}

.card-content {
    font-size: 2vh;
    font-family: "consolas";
    text-align: center;
    margin-top: 25px;
}

.card-content button {
    background-color: #879992;
    color: white;
    padding: 5px 14px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-top: 5px;

}

.card-title{
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
}
.card-price{
    font-size: 15px;
}


@media (max-width: 768px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .product-content {
      width: 100%; 
      margin-left: 0; 
    }
     
  }