.buttons-products {
    display: flex;
    margin-top: 2%;
    gap: 15px;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-left: 145px;
    margin-top: 11vh;
    margin-bottom: -10%;
}

.product-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 63.4%;
    height: 355px;
    margin-bottom: 70px;
}

.product-img {
    width: 41vh;
    height: 27vh;
   
}

.card-content {
    font-size: 2vh;
    font-family: "consolas";
    text-align: center;
}

.card-content button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #F0F0F0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}