

.continue-shopping{

    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: #232f3e;
   margin-top: 50px;
}


.product-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  margin-top: -1%;
  margin-right: 10px;
  margin-right: 90px;


}
.product-data h2{
  text-transform: capitalize;
  
}
.product-data p{
  margin-top: -0.5%;
}

.product-data p span{
  color: blue;
}

.product-data-delivery {
  width: 80%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.product-delivery-data {
  text-align: center;

}

.product-delivery-data .delivery-icon {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
}

.product-delivery-data .p {
  font-size: 50px;

}


.product-images {
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-data-info {
  display: flex;
  font-size: 17px;
  margin-top: -25px;
}

.product-data-info span{
  margin-top: 2%;
}

.btn-cart button{

  justify-content: space-between;
  padding-left: 2rem;
  margin-left: 2rem;
  background-color: #879992;
    color: white;
    padding: 8px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

@media (max-width: 768px) {
  
  .product-data {
    margin-right: 0; 
  }

  .btn-cart button {
    margin-left: 0; 
  }

  
}



